{% extends "base.html" %}

{% block title %}{{ message.title }} - Assistant Headmaster{% endblock %}
{% load static %}
{% block content %}

<div class="col-md-12" style="background: whitesmoke; margin-bottom: 15px; padding: 15px;">
    <h4 style="font-size: 18px; font-weight: bold; background: #1d1836; padding: 5px; color: #fff;">
        {{ message.title }}
    </h4>
    <div class="row">
        <div class="col-md-4 text-center">
            {% if message.image %}
            <img src="{{ message.image.url }}" class="img-responsive img-thumbnail" alt="{{ message.title }}">
            {% else %}
            <img src="{% static 'img/default_assistant_headmaster.png' %}" class="img-responsive img-thumbnail" alt="{{ message.title }}">
            {% endif %}
        </div>
        <div class="col-md-8">
            <p style="text-align: justify; line-height: 25px;">
                {{ message.message|linebreaks }}
            </p>
        </div>
    </div>
</div>

{% endblock content %}
