{% extends "base.html" %}

{% block title %}Contact Us - Felna High School{% endblock %}

{% block content %}
         
            <div class="col-md-12" style="background: whitesmoke; margin-bottom: 15px; padding: 15px;">
                <h4 style="font-size: 18px; font-weight: bold; background: green; padding: 5px; color: #fff;">
                    We Are in Google Map
                </h4>
                <div class="col-md-12 img-thumbnail" style="padding: 0px; height: 420px;">                      
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1604.1045469108833!2d91.28070684282874!3d23.21815175098383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x37537c9a38e439a3%3A0x2e41e32ca712cd4c!2sFelna+High+School!5e1!3m2!1sbn!2sbd!4v1479299332386" 
                        width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen>
                    </iframe>
                    <strong>
                        For more details, please visit our 
                        <a href="">Profile</a>
                    </strong>
                </div>
            </div>
 
{% endblock content %}
